/* body - h1 */

body{
    background-image: url('background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

}
h1{
    text-align: center;
    color: white;
}

/* navbar */
.c1{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.c1 ul{
    list-style-type: none; 
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
}
.c1 ul li{
    padding: 14px 20px;
    float: left;
}
.c1 ul li a{
    text-decoration: none;
    color: black;
    padding: 6px 8px;
}
.c1 ul li a:hover{
    color: white;
    background-color: black;
}